ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }

body {
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
  color: #424242;
}

header {
  background: #ff675c;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
  box-sizing: border-box;
}

.logo {
}

#logo-img {
  width: 175px;
  margin: 0 0 0 20px;
  float: left;
}

header h1 {
  padding: 24px 0 5px 0;
}

.tagline {
  text-align: center;
  margin: 100px 0 30px 0;
}

h2 {
  font-weight: 300;
  font-size: 1.75em;
}

.email-form {
  text-align: center;
  padding: 0 0 30px 0;
}

input[type="email"] {
  padding: 15px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 470px;
  border: none;
  font-size: 1.5em;
  margin-right: 0;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
}

.btn-form {
  padding: 15px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FF1744;
  border: none;
  color: #fff;
  font-size: 1.5em;
  margin-left: 0;
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

.btn-form:hover {
  background: #D50000;
  cursor: pointer;
}

.main-form {
  margin: 40px 0 0 0;
}

input[type="email"].main-form {
  border: 1px solid #ff675c;
}

input[type="submit"].main-form {
  padding: 16px 10px;
}

.header-testimonial {
  text-align: left;
  margin: 0 auto;
  width: 650px;
}

.iphones::after {
  content: "";
  display: block;
  clear: both;
}

.chat-example {
  text-align: center;
}

.chat-example img {
  width: 500px;
  margin: 50px -100px 0 -100px;
}

.feature-description {
  width: 750px;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px solid #E0E0E0;
}

.feature-description:last-of-type {
  border: none;
}

.feature-description h2 {
  padding: 0 0 15px 0;
}

.example {
  margin: 25px auto;
  width: 700px;
  box-sizing: border-box;
}

.example img {
  width: 10%;
  float: left;
}

.example::after {
  content: "";
  display: block;
  clear: both;
}

.example h3 {
  display: inline-block;
  color: #9E9E9E;
  font-size: 1.2em;
  padding: 5px 0 0 15px;
  font-weight: 600;
  max-width: 600px;
}

.example h4 {
  display: inline-block;
  font-size: .85em;
  padding: 5px 0 0 15px;
  font-weight: 200;
}

footer {
  background: #ff675c;
  padding: 20px 0;
  margin: 40px 0 0 0;
  text-align: center;
  color: #fff;
}

footer img {
  width: 7%;
}

footer h1 {
  font-weight: 500;
  font-size: 2.8em;
  margin: -20px 0 0 0;
}

@media (max-width: 480px) {

}
